@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(120deg, #f6d365, #fda085); */
  background-image: linear-gradient(120deg, #f66565, #964832);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #fff;
}

form button {
  color: #ff6f47;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 45%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.trash-btn,
.complete-btn {
  background-color: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.complete-btn {
  background-color: rgb(73, 204, 73);
}

.fa-trash,
.fa-check {
  pointer-events: none; /*don't click here anymore*/
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: rotateZ(20deg);
  opacity: 0;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff6f47;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: #fff;
  color: #ff6f47;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
